*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icons {
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    cursor: pointer;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.softskill li{
    margin-top: 5px;
    list-style-type: none;
    display: inline-grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 30px;
}

.techskill li{
    margin-top: 5px;
    list-style-type: none;
    display: inline-grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 30px;
}
