.form {
    max-width: 1200px;
    width: 70%;
    margin: 0  auto;
    background-color: #e6f4f1;
    overflow: hidden;
    border-radius: 10px;
    padding: 30px 20px 30px;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    margin-bottom: 50px;
    color: rgb(255, 220, 220);
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
  }
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: grey;
  }
  .name {
    background-color: #ebebeb;
    color: black;
  }
  .name:hover {
    border: 1px solid #09a752;
  }
  .phone{
    background-color: #ebebeb;
    color: black;
  }
  .phone:hover{
    border: 1px solid #09a752;
  }
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  .email {
    background-color: #ebebeb;
  }
  
  .email:hover {  
    border: 1px solid #09a752;
  }
  
  .message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
  }
  
  .message:hover {
    border: 1px solid #09a752;
  }

  .formLable{
    display: block;
    font-family: sans-serif;
    margin: 5px auto 5px;
    width: 300px;
  }

  .formSubmit {
    width: 150px;
    display: block;
    color: rgb(0, 0, 0);
    background-color: #15864a;
    font-size: 20px;
    margin: 10px auto 5px;
  }
  .formSubmit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    color: rgb(240, 240, 240);
  }

  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 

  .formMessage{
    font-size: 14px;
    color: red;
    margin: 5px auto 5px;
    display: block;
    width: 300px;
    margin-top: 10px;
  }
