@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: #456b6d;
}
html, body {
  min-height: 100%;
  scroll-behavior: smooth;
}
body {
  background: #bfeee4;
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

nav .links {
  display: inline-block;
  text-align: right;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  border-color: rgb(156, 107, 236);
}
