.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
}
.header h2 {
    font-size: 4em;  
} 

.header h3 {
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 20px;
}
.btn{
    display: inline-block;
    background: #184548;
    color: white;
    padding: 15px 16px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
}
.btn:hover{
    background: #206064;
}

.avatar {
    border-radius: 50%;
    width: 100%;
    height: 75%;
}
.avatar:hover{
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(1.0);
}

.icon{
    width: 50px;
}

.section__title{
    font-size: 3.3rem;
    text-align: center;
    margin: 0 0 90px;
    font-weight: 500;
    color: rgba(2, 24, 26, 0.9);
} 
.section__title span:first-child {
    border-bottom: 3px solid #ff6b6b;
    padding-bottom: 3px;
}
.section__title span:last-child {
    color: #ff6b6b;
}

.skills ul li{
    z-index: 1;
    padding: 15px 20px;
    margin: 0 30px 40px;
    border: 2px solid rgba(0, 49, 52, 0.7);
    background-color: #e6f4f1;
    border-radius: 35px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out;
}
.skills_unit{
    font-size: 20px;
    font-weight: 600;
    color: #003134;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.skills ul li {
    font-size: 20px;
    font-weight: 600;
    color: #003134;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
img {
    border-style: none;
}
.skills_item img{
    width: 100%;
    height: 100%;
    padding: 0px;
    
}

.skills_item {
    width: 110px;
    height: 40px;
    margin-right: 15px;
    border: 2px solid rgba(0, 49, 52, 0.7);
    border-radius: 40px;
    background-color: #fff;
}
.skills_text {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 49, 52, 0.7);
    line-height: 36px;
    text-align: center;
    width: 110px;
    height: 40px;
    margin-right: 15px;
    border: 2px solid rgba(0, 49, 52, 0.7);
    border-radius: 40px;
    background-color: #fff;
}
svg:not(:root) {
    overflow: hidden;
}

/*Resume*/
.section__title {
    font-size: 3.3rem;
    text-align: center;
    margin: 0 0 90px;
    color: rgba(0, 49, 52, 0.9);
    font-weight: 500;
}

.resume__container{
    max-width: 1200px;
    width: 90%;
    margin: 0  auto;
    box-shadow: 0 0 15px 1px rgb(0 0 0 / 20%);
    background-color: #e6f4f1;
    overflow: hidden;
    border-radius: 10px;
    padding: 30px 20px 30px;
    margin-bottom: 50px;
    display: flex;
}

.resume__block {
    border: 2px dashed #04a4a4;
    padding: 20px;
    border-radius: 5px;
    margin: 0 20px 0 40px;
    transition: all 0.4s;
    width: 45%;
}

.block__time {
    font-size: 14px;
    font-weight: 500;
    color: #2fa583;
}

.block__text {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 49, 52, 0.7);
    margin: 0;
}
.block__text li{
    list-style-type: circle;
    margin-left: 15px;
    line-height: 20px;
}

.engineer{
    color: #003134;
    font-weight: 600;
}